<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhcx.dao.AlipayLogMapper" >
  <resultMap id="BaseResultMap" type="com.lhcx.model.AlipayLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="buyer_email" property="buyerEmail" jdbcType="VARCHAR" />
    <result column="buyer_id" property="buyerId" jdbcType="VARCHAR" />
    <result column="seller_email" property="sellerEmail" jdbcType="VARCHAR" />
    <result column="seller_id" property="sellerId" jdbcType="VARCHAR" />
    <result column="trade_no" property="tradeNo" jdbcType="VARCHAR" />
    <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="receipt_amount" property="receiptAmount" jdbcType="DECIMAL" />
    <result column="buyer_pay_amount" property="buyerPayAmount" jdbcType="DECIMAL" />
    <result column="point_amount" property="pointAmount" jdbcType="DECIMAL" />
    <result column="notify_type" property="notifyType" jdbcType="VARCHAR" />
    <result column="notify_time" property="notifyTime" jdbcType="TIMESTAMP" />
    <result column="notify_id" property="notifyId" jdbcType="VARCHAR" />
    <result column="trade_status" property="tradeStatus" jdbcType="VARCHAR" />
    <result column="pay_source" property="paySource" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, buyer_email, buyer_id, seller_email, seller_id, trade_no, out_trade_no, price, 
    receipt_amount, buyer_pay_amount, point_amount, notify_type, notify_time, notify_id, 
    trade_status, pay_source, order_id, create_time, update_time
  </sql>
  <select id="selectByOutTradeNo" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from alipay_logs
    where out_trade_no = #{outTradeNo,jdbcType=VARCHAR} and trade_status ='SUCCESS' 
  </select>
  <insert id="insertSelective" parameterType="com.lhcx.model.AlipayLog" >
    insert into alipay_logs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="buyerEmail != null" >
        buyer_email,
      </if>
      <if test="buyerId != null" >
        buyer_id,
      </if>
      <if test="sellerEmail != null" >
        seller_email,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="tradeNo != null" >
        trade_no,
      </if>
      <if test="outTradeNo != null" >
        out_trade_no,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="receiptAmount != null" >
        receipt_amount,
      </if>
      <if test="buyerPayAmount != null" >
        buyer_pay_amount,
      </if>
      <if test="pointAmount != null" >
        point_amount,
      </if>
      <if test="notifyType != null" >
        notify_type,
      </if>
      <if test="notifyTime != null" >
        notify_time,
      </if>
      <if test="notifyId != null" >
        notify_id,
      </if>
      <if test="tradeStatus != null" >
        trade_status,
      </if>
      <if test="paySource != null" >
        pay_source,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="buyerEmail != null" >
        #{buyerEmail,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null" >
        #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="sellerEmail != null" >
        #{sellerEmail,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=VARCHAR},
      </if>
      <if test="tradeNo != null" >
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="receiptAmount != null" >
        #{receiptAmount,jdbcType=DECIMAL},
      </if>
      <if test="buyerPayAmount != null" >
        #{buyerPayAmount,jdbcType=DECIMAL},
      </if>
      <if test="pointAmount != null" >
        #{pointAmount,jdbcType=DECIMAL},
      </if>
      <if test="notifyType != null" >
        #{notifyType,jdbcType=VARCHAR},
      </if>
      <if test="notifyTime != null" >
        #{notifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notifyId != null" >
        #{notifyId,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null" >
        #{tradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="paySource != null" >
        #{paySource,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByOutTradeNoSelective" parameterType="com.lhcx.model.AlipayLog" >
    update alipay_logs
    <set >
      <if test="buyerEmail != null" >
        buyer_email = #{buyerEmail,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null" >
        buyer_id = #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="sellerEmail != null" >
        seller_email = #{sellerEmail,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=VARCHAR},
      </if>
      <if test="tradeNo != null" >
        trade_no = #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="receiptAmount != null" >
        receipt_amount = #{receiptAmount,jdbcType=DECIMAL},
      </if>
      <if test="buyerPayAmount != null" >
        buyer_pay_amount = #{buyerPayAmount,jdbcType=DECIMAL},
      </if>
      <if test="pointAmount != null" >
        point_amount = #{pointAmount,jdbcType=DECIMAL},
      </if>
      <if test="notifyType != null" >
        notify_type = #{notifyType,jdbcType=VARCHAR},
      </if>
      <if test="notifyTime != null" >
        notify_time = #{notifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notifyId != null" >
        notify_id = #{notifyId,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null" >
        trade_status = #{tradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="paySource != null" >
        pay_source = #{paySource,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where out_trade_no = #{outTradeNo,jdbcType=VARCHAR}
  </update>
  
</mapper>