<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhcx.dao.DriverLocationMapper" >
  <resultMap id="BaseResultMap" type="com.lhcx.model.DriverLocation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="PositionTime" property="positiontime" jdbcType="TIMESTAMP" />
    <result column="Longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="Latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="Phone" property="phone" jdbcType="VARCHAR" />
    <result column="Encrypt" property="encrypt" jdbcType="INTEGER" />
    <result column="Direction" property="direction" jdbcType="INTEGER" />
    <result column="Elevation" property="elevation" jdbcType="DOUBLE" />
    <result column="Speed" property="speed" jdbcType="DOUBLE" />
    <result column="BizStatus" property="bizstatus" jdbcType="INTEGER" />
    <result column="OrderId" property="orderid" jdbcType="VARCHAR" />
    <result column="isDel" property="isdel" jdbcType="INTEGER" />
    <result column="LoginTime" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="LogoutTime" property="logoutTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, PositionTime, Longitude, Latitude, 
    Phone, Encrypt, Direction, Elevation, Speed, BizStatus, OrderId, isDel,LoginTime,LogoutTime
  </sql>

  <select id="selectOnlineByPhone" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from driver_location
    where Phone = #{phone,jdbcType=INTEGER} and isDel = 1
  </select>
  <select id="selectList" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from driver_location
    where isDel = 1
  </select>

  <insert id="insertSelective" parameterType="com.lhcx.model.DriverLocation" >
    insert into driver_location
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>      
      <if test="positiontime != null" >
        PositionTime,
      </if>
      <if test="longitude != null" >
        Longitude,
      </if>
      <if test="latitude != null" >
        Latitude,
      </if>
      <if test="phone != null" >
        Phone,
      </if>
      <if test="encrypt != null" >
        Encrypt,
      </if>
      <if test="direction != null" >
        Direction,
      </if>
      <if test="elevation != null" >
        Elevation,
      </if>
      <if test="speed != null" >
        Speed,
      </if>
      <if test="bizstatus != null" >
        BizStatus,
      </if>
      <if test="orderid != null" >
        OrderId,
      </if>
      <if test="isdel != null" >
        isDel,
      </if>
      <if test="loginTime != null" >
        LoginTime,
      </if>
      <if test="logoutTime != null" >
        LogoutTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>      
      <if test="positiontime != null" >
        #{positiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="encrypt != null" >
        #{encrypt,jdbcType=INTEGER},
      </if>
      <if test="direction != null" >
        #{direction,jdbcType=INTEGER},
      </if>
      <if test="elevation != null" >
        #{elevation,jdbcType=DOUBLE},
      </if>
      <if test="speed != null" >
        #{speed,jdbcType=DOUBLE},
      </if>
      <if test="bizstatus != null" >
        #{bizstatus,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=INTEGER},
      </if>
      <if test="loginTime != null" >
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logoutTime != null" >
        #{logoutTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPhoneSelective" parameterType="com.lhcx.model.DriverLocation" >
    update driver_location
    <set >
      <if test="companyid != null" >
        CompanyId = #{companyid,jdbcType=VARCHAR},
      </if>
      <if test="licenseid != null" >
        LicenseId = #{licenseid,jdbcType=VARCHAR},
      </if>
      <if test="driverregioncode != null" >
        DriverRegionCode = #{driverregioncode,jdbcType=INTEGER},
      </if>
      <if test="vehicleno != null" >
        VehicleNo = #{vehicleno,jdbcType=VARCHAR},
      </if>
      <if test="positiontime != null" >
        PositionTime = #{positiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="longitude != null" >
        Longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        Latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="encrypt != null" >
        Encrypt = #{encrypt,jdbcType=INTEGER},
      </if>
      <if test="direction != null" >
        Direction = #{direction,jdbcType=INTEGER},
      </if>
      <if test="elevation != null" >
        Elevation = #{elevation,jdbcType=DOUBLE},
      </if>
      <if test="speed != null" >
        Speed = #{speed,jdbcType=DOUBLE},
      </if>
      <if test="bizstatus != null" >
        BizStatus = #{bizstatus,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        OrderId = #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        isDel = #{isdel,jdbcType=INTEGER},
      </if>
       <if test="loginTime != null" >
       	LoginTime = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logoutTime != null" >
       	LogoutTime = #{logoutTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Phone = #{phone,jdbcType=VARCHAR}
  </update>
  
</mapper>