<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhcx.dao.DriverDepartureMapper" >
  <resultMap id="BaseResultMap" type="com.lhcx.model.DriverDeparture" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="CompanyId" property="companyid" jdbcType="VARCHAR" />
    <result column="RouteId" property="routeid" jdbcType="VARCHAR" />
    <result column="licenseId" property="licenseid" jdbcType="VARCHAR" />
    <result column="VehicleNo" property="vehicleno" jdbcType="VARCHAR" />
    <result column="Departure" property="departure" jdbcType="VARCHAR" />
    <result column="DepLongitude" property="deplongitude" jdbcType="VARCHAR" />
    <result column="DepLatitude" property="deplatitude" jdbcType="VARCHAR" />
    <result column="Destination" property="destination" jdbcType="VARCHAR" />
    <result column="DestLongittude" property="destlongittude" jdbcType="VARCHAR" />
    <result column="DestLatitude" property="destlatitude" jdbcType="VARCHAR" />
    <result column="Encrypt" property="encrypt" jdbcType="INTEGER" />
    <result column="RouteCreateTime" property="routecreatetime" jdbcType="TIMESTAMP" />
    <result column="RouteMile" property="routemile" jdbcType="VARCHAR" />
    <result column="RouteNote" property="routenote" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, CompanyId, RouteId, licenseId, VehicleNo, Departure, DepLongitude, DepLatitude, 
    Destination, DestLongittude, DestLatitude, Encrypt, RouteCreateTime, RouteMile, RouteNote
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from driver_departure
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from driver_departure
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lhcx.model.DriverDeparture" >
    insert into driver_departure (id, CompanyId, RouteId, 
      licenseId, VehicleNo, Departure, 
      DepLongitude, DepLatitude, Destination, 
      DestLongittude, DestLatitude, Encrypt, 
      RouteCreateTime, RouteMile, RouteNote
      )
    values (#{id,jdbcType=INTEGER}, #{companyid,jdbcType=VARCHAR}, #{routeid,jdbcType=VARCHAR}, 
      #{licenseid,jdbcType=VARCHAR}, #{vehicleno,jdbcType=VARCHAR}, #{departure,jdbcType=VARCHAR}, 
      #{deplongitude,jdbcType=VARCHAR}, #{deplatitude,jdbcType=VARCHAR}, #{destination,jdbcType=VARCHAR}, 
      #{destlongittude,jdbcType=VARCHAR}, #{destlatitude,jdbcType=VARCHAR}, #{encrypt,jdbcType=INTEGER}, 
      #{routecreatetime,jdbcType=TIMESTAMP}, #{routemile,jdbcType=VARCHAR}, #{routenote,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lhcx.model.DriverDeparture" >
    insert into driver_departure
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyid != null" >
        CompanyId,
      </if>
      <if test="routeid != null" >
        RouteId,
      </if>
      <if test="licenseid != null" >
        licenseId,
      </if>
      <if test="vehicleno != null" >
        VehicleNo,
      </if>
      <if test="departure != null" >
        Departure,
      </if>
      <if test="deplongitude != null" >
        DepLongitude,
      </if>
      <if test="deplatitude != null" >
        DepLatitude,
      </if>
      <if test="destination != null" >
        Destination,
      </if>
      <if test="destlongittude != null" >
        DestLongittude,
      </if>
      <if test="destlatitude != null" >
        DestLatitude,
      </if>
      <if test="encrypt != null" >
        Encrypt,
      </if>
      <if test="routecreatetime != null" >
        RouteCreateTime,
      </if>
      <if test="routemile != null" >
        RouteMile,
      </if>
      <if test="routenote != null" >
        RouteNote,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyid != null" >
        #{companyid,jdbcType=VARCHAR},
      </if>
      <if test="routeid != null" >
        #{routeid,jdbcType=VARCHAR},
      </if>
      <if test="licenseid != null" >
        #{licenseid,jdbcType=VARCHAR},
      </if>
      <if test="vehicleno != null" >
        #{vehicleno,jdbcType=VARCHAR},
      </if>
      <if test="departure != null" >
        #{departure,jdbcType=VARCHAR},
      </if>
      <if test="deplongitude != null" >
        #{deplongitude,jdbcType=VARCHAR},
      </if>
      <if test="deplatitude != null" >
        #{deplatitude,jdbcType=VARCHAR},
      </if>
      <if test="destination != null" >
        #{destination,jdbcType=VARCHAR},
      </if>
      <if test="destlongittude != null" >
        #{destlongittude,jdbcType=VARCHAR},
      </if>
      <if test="destlatitude != null" >
        #{destlatitude,jdbcType=VARCHAR},
      </if>
      <if test="encrypt != null" >
        #{encrypt,jdbcType=INTEGER},
      </if>
      <if test="routecreatetime != null" >
        #{routecreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="routemile != null" >
        #{routemile,jdbcType=VARCHAR},
      </if>
      <if test="routenote != null" >
        #{routenote,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lhcx.model.DriverDeparture" >
    update driver_departure
    <set >
      <if test="companyid != null" >
        CompanyId = #{companyid,jdbcType=VARCHAR},
      </if>
      <if test="routeid != null" >
        RouteId = #{routeid,jdbcType=VARCHAR},
      </if>
      <if test="licenseid != null" >
        licenseId = #{licenseid,jdbcType=VARCHAR},
      </if>
      <if test="vehicleno != null" >
        VehicleNo = #{vehicleno,jdbcType=VARCHAR},
      </if>
      <if test="departure != null" >
        Departure = #{departure,jdbcType=VARCHAR},
      </if>
      <if test="deplongitude != null" >
        DepLongitude = #{deplongitude,jdbcType=VARCHAR},
      </if>
      <if test="deplatitude != null" >
        DepLatitude = #{deplatitude,jdbcType=VARCHAR},
      </if>
      <if test="destination != null" >
        Destination = #{destination,jdbcType=VARCHAR},
      </if>
      <if test="destlongittude != null" >
        DestLongittude = #{destlongittude,jdbcType=VARCHAR},
      </if>
      <if test="destlatitude != null" >
        DestLatitude = #{destlatitude,jdbcType=VARCHAR},
      </if>
      <if test="encrypt != null" >
        Encrypt = #{encrypt,jdbcType=INTEGER},
      </if>
      <if test="routecreatetime != null" >
        RouteCreateTime = #{routecreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="routemile != null" >
        RouteMile = #{routemile,jdbcType=VARCHAR},
      </if>
      <if test="routenote != null" >
        RouteNote = #{routenote,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lhcx.model.DriverDeparture" >
    update driver_departure
    set CompanyId = #{companyid,jdbcType=VARCHAR},
      RouteId = #{routeid,jdbcType=VARCHAR},
      licenseId = #{licenseid,jdbcType=VARCHAR},
      VehicleNo = #{vehicleno,jdbcType=VARCHAR},
      Departure = #{departure,jdbcType=VARCHAR},
      DepLongitude = #{deplongitude,jdbcType=VARCHAR},
      DepLatitude = #{deplatitude,jdbcType=VARCHAR},
      Destination = #{destination,jdbcType=VARCHAR},
      DestLongittude = #{destlongittude,jdbcType=VARCHAR},
      DestLatitude = #{destlatitude,jdbcType=VARCHAR},
      Encrypt = #{encrypt,jdbcType=INTEGER},
      RouteCreateTime = #{routecreatetime,jdbcType=TIMESTAMP},
      RouteMile = #{routemile,jdbcType=VARCHAR},
      RouteNote = #{routenote,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>