<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhcx.dao.PushNotificationMapper" >
  <resultMap id="BaseResultMap" type="com.lhcx.model.PushNotification" >
    <id column="_id" property="id" jdbcType="INTEGER" />
    <result column="push_phone" property="pushPhone" jdbcType="VARCHAR" />
    <result column="receive_phone" property="receivePhone" jdbcType="VARCHAR" />
    <result column="push_identity_token" property="pushIdentityToken" jdbcType="VARCHAR" />
    <result column="receive_identity_token" property="receiveIdentityToken" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="push_type" property="pushType" jdbcType="INTEGER" />
    <result column="alert" property="alert" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="sound" property="sound" jdbcType="VARCHAR" />
    <result column="data" property="data" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="is_enable" property="isEnable" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="link_url" property="linkUrl" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="activity_id" property="activityId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    _id, push_phone, receive_phone, order_id, push_type, alert, type, sound, data, time, status, 
    is_enable, user_name, link_url, flag, title, activity_id,push_identity_token,receive_identity_token
  </sql>
  <insert id="insertSelective" parameterType="com.lhcx.model.PushNotification" >
    insert into pc_push_notification
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        _id,
      </if>
      <if test="pushPhone != null" >
        push_phone,
      </if>
      <if test="receivePhone != null" >
        receive_phone,
      </if>
      <if test="pushIdentityToken != null" >
        push_identity_token,
      </if>
      <if test="receiveIdentityToken != null" >
        receive_identity_token,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="pushType != null" >
        push_type,
      </if>
      <if test="alert != null" >
        alert,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="sound != null" >
        sound,
      </if>
      <if test="data != null" >
        data,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isEnable != null" >
        is_enable,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="linkUrl != null" >
        link_url,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="activityId != null" >
        activity_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pushPhone != null" >
        #{pushPhone,jdbcType=VARCHAR},
      </if>
      <if test="receivePhone != null" >
        #{receivePhone,jdbcType=VARCHAR},
      </if>
      <if test="pushIdentityToken != null" >
       #{pushIdentityToken,jdbcType=VARCHAR},
      </if>
      <if test="receiveIdentityToken != null" >
        #{receiveIdentityToken,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="pushType != null" >
        #{pushType,jdbcType=INTEGER},
      </if>
      <if test="alert != null" >
        #{alert,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="sound != null" >
        #{sound,jdbcType=VARCHAR},
      </if>
      <if test="data != null" >
        #{data,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isEnable != null" >
        #{isEnable,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <select id="selectAll" resultMap="BaseResultMap" parameterType="com.lhcx.model.PushNotification">
   select 
    <include refid="Base_Column_List" />
    from pc_push_notification 
	where receive_identity_token = #{receiveIdentityToken,jdbcType=VARCHAR} and push_type = #{pushType,jdbcType=INTEGER} and is_enable = 1
	order by time desc
	limit #{page},#{size}
  </select>
</mapper>