<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhcx.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.lhcx.model.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="UserPhone" property="userphone" jdbcType="INTEGER" />
    <result column="UserType" property="usertype" jdbcType="VARCHAR" />
    <result column="Token" property="token" jdbcType="VARCHAR" />
    <result column="LoginIp" property="loginip" jdbcType="VARCHAR" />
    <result column="LoginTime" property="logintime" jdbcType="TIMESTAMP" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UpateTime" property="upatetime" jdbcType="TIMESTAMP" />
    <result column="Flag" property="flag" jdbcType="INTEGER" />
    <result column="IdentityToken" property="identityToken" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, UserPhone, UserType, Token, LoginIp, LoginTime, CreateTime, UpateTime,Flag,IdentityToken
  </sql>
  <select id="selectByToken" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from users
    where Token = #{token}
  </select>
  <select id="selectUserByPhone" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from users
    where UserPhone = #{phone} and UserType = #{userType}
  </select>
  
  <select id="selectByPhone" resultMap="BaseResultMap" parameterType="com.lhcx.model.User">
    select 
    <include refid="Base_Column_List" />
    from users
    where UserPhone = #{userphone,jdbcType=INTEGER} and UserType = #{usertype,jdbcType=VARCHAR}
  </select>
  <select id="selectUserByIdentityToken" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from users
    where IdentityToken = #{identityToken}
  </select>
  <insert id="insertSelective" parameterType="com.lhcx.model.User" >
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userphone != null" >
        UserPhone,
      </if>
      <if test="usertype != null" >
        UserType,
      </if>
      <if test="token != null" >
        Token,
      </if>
      <if test="identityToken != null" >
        IdentityToken,
      </if>
      <if test="loginip != null" >
        LoginIp,
      </if>
      <if test="logintime != null" >
        LoginTime,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="upatetime != null" >
        UpateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userphone != null" >
        #{userphone,jdbcType=INTEGER},
      </if>
      <if test="usertype != null" >
        #{usertype,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="identityToken != null" >
        #{identityToken,jdbcType=VARCHAR},
      </if>
      <if test="loginip != null" >
        #{loginip,jdbcType=VARCHAR},
      </if>
      <if test="logintime != null" >
        #{logintime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="upatetime != null" >
        #{upatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lhcx.model.User" >
    update users
    <set >
      <if test="userphone != null" >
        UserPhone = #{userphone,jdbcType=INTEGER},
      </if>
      <if test="usertype != null" >
        UserType = #{usertype,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        Token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="loginip != null" >
        LoginIp = #{loginip,jdbcType=VARCHAR},
      </if>
      <if test="logintime != null" >
        LoginTime = #{logintime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="upatetime != null" >
        UpateTime = #{upatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updatePhoneByIdToken" parameterType="com.lhcx.model.User" >
    update users set UserPhone = #{userphone,jdbcType=INTEGER}
    where IdentityToken = #{identityToken,jdbcType=VARCHAR}
  </update>
</mapper>